
.well{
font-family:Monotype Corsiva;
font-size:40px;
text-align:center;

}
body.hello{
background-color:#00E640;
  background: url(http://eslhiphop.com/images/fcc/quotebg.jpg) no-repeat center center fixed;
  background-size: cover;
}

}
footer{
text-align:center;
}
.card{
box-shadow:0 4px 8px;
translation:0.3s;
width:auto;
height:auto;
background-color:#90C695;
text-align:center;
  opacity:0.8;
  border-radius:15px;
}
.card:hover{
box-shadow:0 8px 16px ;
}
.me{
font-family:Monotype Corsiva;
font-size:27px;
color:green;
}
.me:hover{
color:red;
}
#font{
font-size:27px;
opacity:0.7;
}
.fa:hover{
opacity:1.0;
}
.quote,.author{
padding:20px;
font-family:Monotype Corsiva;
font-size:27px;
}
