
.well{
font-family:Monotype Corsiva;
font-size:40px;
text-align:center;

}
body.hello{
background-color:#00E640;
  background: url(https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/2348952/1160/772/m1/fpnw/wm1/black-brick-wall-2-.-.jpg?1488383694&s=f8aefcb8499d7ee7afc4b2ab9093ae5e) no-repeat center center fixed;
  background-size: cover;
}

}
footer{
text-align:center;
}
.card{
box-shadow:0 4px 8px;
translation:0.3s;
width:auto;
height:auto;
background: url("https://www.muralswallpaper.com/app/uploads/clean-white-brick-wall-textures-room-820x532.jpg");
text-align:center;
  opacity:0.8;
  border-radius:15px;
}
.card:hover{
box-shadow:0 8px 16px ;
}
.me{
font-family:Monotype Corsiva;
font-size:27px;
color:green;
}
.me:hover{
color:red;
}
#font{
font-size:27px;
opacity:0.7;
}
.fa:hover{
opacity:1.0;
}
.quote,.author{
padding:20px;
font-family:Monotype Corsiva;
font-size:27px;
}

h1.well{
background-color: gainsboro;
background: url("https://www.muralswallpaper.com/app/uploads/clean-white-brick-wall-textures-room-820x532.jpg")
}
